.c-card {
	margin: $margin-sm;
	margin-top: $margin-md;
	background-color: white;
	padding: $padding-lg;
	padding-top: $padding-xl;

	&--clear {
		@extend .c-card;
		background-color: transparent;
	}

	&--half {
		@extend .c-card;
		height: 50vh;
	}

	&--full {
		@extend .c-card;
		height: 96vh;
	}

	&__heading {
		margin: 0px;
		font-size: $xxlarge-font;
		font-weight: bold;
		line-height: 28px;
	}

	&__caption {
		font-size: $medium-font;
	}
}