// Containe Genre Selection
.c-g-s {
	height: 43vh;
	overflow: auto;

	&__item {
		display: inline-block;
		padding: $padding-lg;
		background-color: $primary-faded-color;
		border-radius: 3px;
		color: white;
		font-size: $medium-font;
		margin-right: $margin-md;
		margin-top: $margin-md;

		&.selected {
			background-color: $primary-color;
		}
	}
}