.c-tabs{

	&--list {
		border-bottom: 1px solid $border-color;
	}

	&--item {
		display: inline-block;
		font-size: $medium-font;
		text-decoration: none;
		color: $default-text-color;

		&.active {
			border-bottom: 1px solid $primary-color;
		}
	}
}