.c-tabs{

	&--list {
		border-bottom: 1px solid $border-color;
	}

	&--item {
		display: inline-block;
		font-size: $medium-font;
		text-decoration: none;
		color: $default-text-color;

		&.active {
			font-weight: 500;
			border-bottom: 2px solid $primary-color;
			border-radius: $border-radius;
		}
	}
}